.ProfileBox {
  width: 30%;
  background: black;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 769px) {
  .ProfileBox {
    width: 40%;
  }
}

@media screen and (max-width: 641px) {
  .ProfileBox {
    width: 100%;
    height: auto;
  }
}
