body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-weight: lighter;
}
h1 {
  color: white;
  text-align: center;
  font-size: 24px;
  font-family: 'Acme', sans-serif;
}
h2 {
  color: orange;
  font-size: 22px;
  margin: 0;
  padding: 10px;
  font-family: 'Slabo 27px', serif;
}
.opacity {
  opacity: .6;
}
.opacity:hover {
  opacity: 1;
}
.company {
  font-size: 16px !important;
  font-family: 'Bree Serif', serif;
}
.texto {
  font-family: 'Roboto', sans-serif;
}
