body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-weight: lighter;
}
h1 {
  color: white;
  text-align: center;
  font-size: 24px;
  font-family: 'Acme', sans-serif;
}
h2 {
  color: orange;
  font-size: 18px;
  margin: 0;
  font-family: 'Slabo 27px', serif;
}
.opacity {
  opacity: .6;
}
.opacity:hover {
  opacity: 1;
}
.company {
  font-size: 16px !important;
  font-family: 'Bree Serif', serif;
}
.texto {
  font-size: 14px !important;
  font-family: 'Roboto', sans-serif;
}

@media screen and (max-width: 769px) {
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 16px;
  }
  .company {
    font-size: 14px !important;
  }
  .texto {
    font-size: 12px !important;
  }
}
